# This starter workflow is for a CMake project running on a single platform. There is a different starter workflow if you need cross-platform coverage.
# See: https://github.com/actions/starter-workflows/blob/main/ci/cmake-multi-platform.yml
name: CMake on a single platform

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  BUILD_TYPE: Release

jobs:
  clang:
    runs-on: ubuntu-latest
    if: false

    steps:
      - uses: actions/checkout@v4

      - name: Install Qt
        uses: jurplel/install-qt-action@v4
        with:
            version: '6.8.0'
            host: 'linux'
            target: 'desktop'
            arch: 'linux_gcc_64'

      - name: Install dependencies
        run: sudo apt install -y libusb-1.0-0-dev libhidapi-dev uuid-dev libldap-dev libssl-dev

      - name: Prepare pjsip
        run: |
          git clone https://github.com/pjsip/pjproject.git
          cd pjproject
          git submodule update --init --recursive
          ./configure --prefix=/usr/local --disable-video --disable-opus --enable-ext-sound CFLAGS="-fPIC -DPJ_HAS_IPV6=1"
          make
          sudo make install

      - name: Configure CMake
        run: cmake -B ${{github.workspace}}/build -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}} -DCMAKE_BUILD_TYPE=Debug -DCMAKE_EXPORT_COMPILE_COMMANDS=ON

      - name: Build
        run: cmake --build ${{github.workspace}}/build --config ${{env.BUILD_TYPE}}

      - name: Static code analysis
        id: codechecker
        uses: whisperity/codechecker-analysis-action@v1
        with:
          version: '6.24.4'
          logfile: ${{ github.workspace }}/build/compile_commands.json

      # Upload the results to the CI.
      - uses: actions/upload-artifact@v4
        with:
          name: "CodeChecker Bug Reports"
          path: ${{ steps.codechecker.outputs.result-html-dir }}          
      
      # Break the build if there are *ANY* warnings emitted by the analysers.
      - name: "Break build if CodeChecker reported any findings"
        if: ${{ steps.codechecker.outputs.warnings == 'true' }}
        run: exit 1

  clazy:
    runs-on: ubuntu-latest    

    steps:
      - uses: actions/checkout@v4

      - name: Install Qt
        uses: jurplel/install-qt-action@v4
        with:
            version: '6.8.0'
            host: 'linux'
            target: 'desktop'
            arch: 'linux_gcc_64'

      - name: Install dependencies
        run: sudo apt install -y libusb-1.0-0-dev libhidapi-dev uuid-dev libldap-dev libssl-dev

      - name: Prepare pjsip
        run: |
          git clone https://github.com/pjsip/pjproject.git
          cd pjproject
          git submodule update --init --recursive
          ./configure --prefix=/usr/local --disable-video --disable-opus --enable-ext-sound CFLAGS="-fPIC -DPJ_HAS_IPV6=1"
          make
          sudo make install

      - name: Configure CMake
        run: cmake -B ${{github.workspace}}/build -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}} -DCMAKE_BUILD_TYPE=Debug -DCMAKE_EXPORT_COMPILE_COMMANDS=ON

      - name: Build
        run: cmake --build ${{github.workspace}}/build --config ${{env.BUILD_TYPE}}

      - name: Clazy action
        id: clazy-check
        uses: MinyazevR/clazy-standalone-action@v0.2.1
        with:
          install-stable: true
          ignore-dirs: '(.*qmltyperegistrations.*|.*/tests/.*|.*/\\.rcc/.*)'
          checks: level0,level1,qt6-header-fixes,no-no-module-include,no-lambda-unique-connection
          warnings_as_errors: writable-strings
          database: ${{ github.workspace }}/build

      - name: "Print results"
        shell: bash
        run: echo "::debug::Clazy resulted in ${{env.ERRORS}} errors and ${{env.WARNINGS}} warnings"
        env:
          ERRORS: ${{ steps.clazy-check.outputs.errors-count }}
          WARNINGS: ${{ steps.clazy-check.outputs.warnings-count }}

  tests:
    runs-on: ubuntu-latest
    needs: [build]

    steps:
      - uses: actions/checkout@v4
      #- uses: build/tests/contactsTest 

  build:
    # The CMake configure and build commands are platform agnostic and should work equally well on Windows or Mac.
    # You can convert this to a matrix build if you need cross-platform coverage.
    # See: https://docs.github.com/en/free-pro-team@latest/actions/learn-github-actions/managing-complex-workflows#using-a-build-matrix
    runs-on: ubuntu-latest
    if: false

    steps:
    - uses: actions/checkout@v4

    - name: Install Qt
      uses: jurplel/install-qt-action@v4
      with:
          version: '6.8.0'
          host: 'linux'
          target: 'desktop'
          arch: 'linux_gcc_64'

    - name: Install dependencies
      run: sudo apt install -y libusb-1.0-0-dev libhidapi-dev uuid-dev libldap-dev libssl-dev

    - name: Prepare pjsip
      run: |
        git clone https://github.com/pjsip/pjproject.git
        cd pjproject
        git submodule update --init --recursive
        ./configure --prefix=/usr/local --disable-video --disable-opus --enable-ext-sound CFLAGS="-fPIC -DPJ_HAS_IPV6=1"
        make
        sudo make install

#    - name: Prepare qca

    - name: Configure CMake
      # Configure CMake in a 'build' subdirectory. `CMAKE_BUILD_TYPE` is only required if you are using a single-configuration generator such as make.
      # See https://cmake.org/cmake/help/latest/variable/CMAKE_BUILD_TYPE.html?highlight=cmake_build_type
      run: cmake -B ${{github.workspace}}/build -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}} -DBUILD_TESTING=ON

    - name: Build
      # Build your program with the given configuration
      run: cmake --build ${{github.workspace}}/build --config ${{env.BUILD_TYPE}}

